<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syrian Transport Company</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<body>
    <main>
    <div class="content-container">
        <div class="center-text">
            <span class="text"> Syrian Transport Company</span>
            <p> We are the Syrian transportation company</p>
            <p> created this website to improve the reality of transportation</p>
        </div>
    </div>
    <div class="container1">
       <a class="btn btn-slide" href="{% url 'index-2'%}">Click for more</a>
    </div>
</main>
</body>
</html>